<div
  class="hero min-h-screen"
  style="background-image: url(https://images.unsplash.com/photo-1463595373836-6e0b0a8ee322?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md flex-col flex gap-5">
      <h1 class="text-5xl font-bold">Willkommen in der Kundenverwaltung 👋</h1>
      <p>Klicke auf den Button um die Kunden zu laden.</p>
      <div class="flex items-center justify-center min-h-20">
        @if (kundenStatefulService.isKundenOverviewsLoading$ | async) {
          <ui-loading-spinner/>
        } @else {
          <button (click)="kundenStatefulService.loadKundenOverviews()" class="btn btn-primary">Lade die Kunden</button>
        }
      </div>
      @for (k of kundenStatefulService.kundenOverviews$ | async; track k.id) {
        <div [routerLink]="['/kunde', k.id]"
             class="hover:shadow-primary cursor-pointer bg-neutral p-5 rounded-lg shadow-sm">
          <h2 class="text-base-content font-bold">{{ k.id }}</h2>
          <p>{{ k.lastName }}</p>
          <p>{{ k.firstName }}</p>
        </div>
      }
    </div>
  </div>
</div>
